* {
    box-sizing: border-box;
}
:root {
    --green-color: #77CFB7;
    --blue-color: #81D7D3;
    --pink-color: #E96A97;
    --gray-color: #dee2e6;
    --orange-color: #FF7F6A;
}
.cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    background: #f3f3f3;
}
.wrap {
    position: relative;
}
.header {
    background: #fff;
    position: fixed;
    z-index: 100;
}
.logo {
    width: 62px;
}
.logo-text {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    color: var(--orange-color);
    text-shadow: 0.1em 0.1em 0.2em black
}
.navbar-side {
    background: #fff;
    min-height: 100vh;
    /*margin-top: 75px;*/
    position: fixed;
    width: 250px;
    padding: 90px 30px 30px 30px;
}
/*.nav-link {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    color: var(--gray-color);*/
/*    display: block;*/
/*    padding: 10px;*/
/*}*/
.nav-item a {
    font-size: 20px;
    font-weight: bold;
    color: var(--gray-color);
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-item a.active {
    color: #0a58ca;
}
/*.nav-link a:hover {*/
/*    color: var(--pink-color);*/
/*}*/
.nav-item a:focus, .nav-item a:hover {
    color: #0a58ca;
}
/*.nav-link.active {*/
/*    color: var(--orange-color);*/
/*}*/
.button-group {
    background: #fff;
    margin: 95px 0px 0px 300px;
    min-height: 70px;
}
.button-group a {
    display: block;
}
.article {
    background: #fff;
    margin: 15px auto;
    margin-left: 300px;
}
.table-wrap {
    margin: 15px auto;
}
thead tr th {
    white-space:nowrap;
}
tbody tr:hover {
    background: #f3f3f3;
}
tbody tr td {
    /*height: 70px;*/
    white-space:nowrap;
}
.photo-img {
    height: 120px;
}
.photo-list {
    min-width: 60px;
    max-width: 70px;
    height: auto;
}
.content-group {
    margin-top: 95px;
}